<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>iView project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=e3f32b510760d46e8ffd4a8263050889&plugin=AMap.DistrictSearch"></script>
    <script src="https://webapi.amap.com/loca?key=e3f32b510760d46e8ffd4a8263050889"></script>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>